.page {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  background: #000;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
