.page {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  background: #000;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
