.profile {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 42px 0 26px 0;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr 1fr;
    justify-items: center;
    gap: 26px;
  }
}
